
/************** Generic UI elements **************/

.uiSpacingElemContainer
{
    margin-bottom: 16px;
}

.uiHeadingElemContainer
{
    padding: 0px;
}

.uiElemContainer
{
    padding: 12px;
    border-bottom: 1px solid #bbb;
}

.section-heading-text
{
    padding: 8px;
    width: 100%;
    display: inline-block;
    color: white;
    background: #333;
}

.label-text, .explanation-text, .help-button
{
    color: #333;
    padding: 0 4px 0 0;
    font-size: 90%;
}

.explanation-text
{
    font-size: 90%;
    font-style: italic;
}

.help-button
{
    width:  18px;
    height: 18px;
    display: inline-block;
    vertical-align: text-top;
    background-image: url('images/baseline-help-24px.svg');
    background-size: 18px;
}

.text-input
{
    max-width: 160px;
    float: right;
    color: #333;
    font-size: 0.8em;
    padding: 0.2em;    
}

.text-input:focus
{
    outline: 1px solid #57c76af0;
}

.browse-button
{
    position: relative;
    float: right;
    border: none;
    color: white;
    padding: 3px 9px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 0.9em;
    background-color: #349f47;
}

.browse-button:hover
{
    cursor: pointer;   
    border: none;    
    background-color: #57c76af0;
}

.browse-button:focus
{
    border: none;
    outline:none;
}

/****** toggle switch *********/

.switch
{
    position: relative;
    float: right;    
    width:  46px;
    height: 25px;
}

.switch input
{ 
    opacity: 0;
    width: 0;
    height: 0;
}

.slider
{
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #aaa;
    -webkit-transition: .4s;
    transition: .4s;
}

.slider:before
{
    position: absolute;
    content: "";
    height: 18px;
    width:  20px;
    left:   4px;
    bottom: 4px;
    background-color: white;
    -webkit-transition: .4s;
    transition: .4s;
}

input:checked + .slider
{
    background-color: #349f47;
}

input:checked + .slider:before
{
    -webkit-transform: translateX(17px);
    -ms-transform: translateX(17px);
    transform: translateX(17px);
}

.slider.round
{
    border-radius: 24px;
}

.slider.round:before
{
    border-radius: 50%;
}

/****** value slider *********/

.valueslider-container
{
    position: relative;
    float: right;
    width:  140px;
    height: 25px;
    text-align: right;
}

.valueslider-text
{
    display: inline-flex;
    overflow: hidden;
    width: 35px;    
    margin-right: 6px;
    padding: 2px;
    background: #333;
    color: white;
    font-size: 75%;
}

.valueslider-text > span
{
    margin: auto;
}

.valueslider {    
  -webkit-appearance: none;
  width: calc(100% - 50px);
  height: 16px;
  background: #aaa;
  outline: none;
  border: 0;
  border-radius: 24px;
  float: right;
  margin-top: 4px;
}

.valueslider::-webkit-slider-thumb {
  -webkit-appearance: none;
  appearance: none;
  width: 24px;
  height: 24px;
  background: #349f47;
  cursor: pointer;
  border: 0;
  border-radius: 24px;
}

.valueslider::-moz-range-thumb {
  width: 24px;
  height: 24px;
  background: #349f47;
  cursor: pointer;
  border: 0;
  border-radius: 24px;
}

/********* image selection *********/

.imagecollection-container
{
    background: #111;    
    padding: 6px;                        
    display: table;
    width: 100%;   
    border-radius: 6px;
}    
.imagecollection-element
{
    float: left;
    margin: 6px;
    width:  100px;                    
    height: 100px;
    background-size: cover;     
    background-color: #333;
    border: 1px solid #333;
}  
.imagecollection-activeelement
{                        
    border: 1px solid #777;
}
.imagecollection-elementlabel
{
    position: relative;
    top:0;
    left:0;
    color: white;
    background-color: #333;
    font-size: 70%;
    opacity: 0.85;
    text-align: center;
}
.imagecollection-activeelement, .imagecollection-element:hover
{
    background-color: #555;
}
.imagecollection-activeelement > .imagecollection-elementlabel,
.imagecollection-element:hover > .imagecollection-elementlabel
{
    opacity: 1.0;                        
}


/************** Non-Generic UI elements **************/


html, body
{
    border: 0;
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
    font-family: sans-serif;
    user-select: none;
}

.main-container
{
    border: 0;
    margin: 0;
    padding: 0;
    width:  100%;
    height: 100%;
    display: flex;
}

.layout-stack
{
    border: 0;
    margin: 0;
    padding: 0;
    width:  100%;
    height: 100%;
}

.tools-container
{
    border: 0;
    margin: 0;
    padding: 0;
    background: white;
    min-width: 340px;
    -webkit-box-shadow: 10px -10px 20px -8px rgba(136,136,136,0.7);
    -moz-box-shadow: 10px -10px 20px -8px rgba(136,136,136,0.7);
    box-shadow: 10px -10px 20px -8px rgba(136,136,136,0.7);
}

#tools
{

}

#vecTools
{
    text-align: center;
    background: #999;
}

.vecToolsButton, .vecToolsButton-triggered
{
    vertical-align: sub;
    border: 0;
    margin: 3px 0.5%;
    padding: 5px 1%;
    display: inline-block;
    width:  23%;
    height: 34px;
    background: linear-gradient(#555, #444);
    color: white;
    font-size: 76%;
}

.vecToolsButton:hover
{
    cursor: pointer;
    background: linear-gradient(#777, #666);
}

.vecToolsButton-triggered
{
    background: linear-gradient(#3cab50, #349f47);
}

.vecToolsButton-triggered:hover
{
    background: linear-gradient(#4cce63, #3cab50);
}

.vecToolsButton > span
{
    vertical-align: sub;
}

#getZIPButton > img
{    
    vertical-align: top;
    margin-right: 2px;
}

#tools-collapse
{

}

#controls-disabled-overlay
{
    position: absolute;
    visibility: hidden;
    left: 0;
    top: 42px;
    width: 100%;
    height: calc(100% - 42px);
    height: -o-calc(100% - 42px);
    height: -webkit-calc(100% - 42px);
    height: -moz-calc(100% - 42px);
    background: white;
    opacity: 0.9;
    z-index: 1;
}

#pluginTypeSelectorArea
{
    left: 0;
    top: 42px;
    width: 100%;
    height: 40px;
    border: 0;
    margin: 0;
    padding: 2px;
    text-align: center;
    font-size: 1.1em;    
    background: #333;
}

#viewerConfigButton, #itemConfigButton
{
    width: 48%;
    padding: 6px;
    text-align: center;
}

.vecToolsButtonAlt1-triggered, .vecToolsButtonAlt1-triggered:hover
{
    background: #3cab50;
}

.vecToolsButtonAlt2-triggered, .vecToolsButtonAlt2-triggered:hover
{
    background: #c7c300;
}

#toolSelectionViewer, #toolSelectionItem
{
    border: 0;
    margin: 0;
    padding: 0 8px;
    height: 78px;    
    background: linear-gradient(#333, #555);
}

#toolSelectionItem
{
    display: none;
}

.toolSelectionWhitespace
{
    width: 100%;
    height: 6px;
}

.toolSelectionButton
{   
    border: 0;
    margin: 14px 8px 0 0;
    padding: 0;
    display: inline-flex;
    width: 64px;
    height: 64px;
    background: #aaa;
    -webkit-box-shadow: inset 0px -10px 20px -8px rgba(100,100,100,1);
    -moz-box-shadow: inset 0px -10px 20px -8px rgba(100,100,100,1);
    box-shadow: inset 0px -10px 20px -8px rgba(100,100,100,1);
}

.toolSelectionButton:hover
{
    background: #eee;
}

.activeToolButton, .activeToolButton:hover
{       
    background-color: white;    
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none;
}

#viewer-container
{
    display: inline-flex;
    text-align: center;
    border: 0;
    margin: 0;
    padding: 0;    
    flex: 1;
    min-width:  220px;
    min-height: 300px;
    background: url('images/workspace-background.jpg');    
    overflow: hidden;
}

#viewer-frame-wrapper
{
    width:  100%;
    height: 100%;    
    display: inline-flex;    
}

#viewer
{
    border:  0;
    margin:  0;
    padding: 0;
    width:  100%;
    height: 100%;
    min-width:  300px;    
    min-height: 300px;    
}

.guideline-h-t, .guideline-h-b, .guideline-v-l, .guideline-v-r
{
    position:   absolute;
    visibility: hidden;
    opacity: 0.75;
}

.guideline-h-t, .guideline-h-b
{    
    height: 0px;
    width: 100%;
}

.guideline-h-t
{   
    border-top: 1px dashed #333;
    margin-top: -1px;
}

.guideline-h-b
{   
    border-bottom: 1px dashed #333;    
}

.guideline-v-l, .guideline-v-r
{    
    width: 0px;
    height: 100%;    
}

.guideline-v-l
{   
    border-left: 1px dashed #333;
    margin-left: -1px;
}

.guideline-v-r
{       
    border-right: 1px dashed #333;
}
